<a href="https://colab.research.google.com/github/sebavassou/aula001py_mba/blob/main/Exercicios/Aula9_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 9 - Exercício - Agregação com Pandas

### Documentação do Autograder [Link](https://github.com/alexlopespereira/mba_enap/blob/main/Exercicios/Autograder.ipynb)


*   Link para o gabarito das questões
*   Imports padrão
*   Instalação
*   Autenticaçao para nota
*   Validação

In [1]:
!pip install --upgrade ipynb_autograde > /dev/null

In [2]:
%env  COURSE=mba_enap
from ipynb_autograde.main import init_log, validate
init_log()
email_result=!gcloud config get-value account
if not email_result or 'unset' in email_result[0]:
  !gcloud auth login

env: COURSE=mba_enap
Go to the following link in your browser, and complete the sign-in prompts:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fsdk.cloud.google.com%2Fauthcode.html&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsqlservice.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=CKZJAVEoPudedOGExtk2HR3uHwN5AV&prompt=consent&token_usage=remote&access_type=offline&code_challenge=1N6HUlAyNtF17974s4GbbWy-CHOrH-ewOk9D9iYxBxk&code_challenge_method=S256

Once finished, enter the verification code provided in your browser: 4/0ASVgi3Il7y4uzh0aXT0zohm9vl5g2BMMMdi_rLVTg7fdMtvliyBJQ6qlahbtiAzI0PY2kA

You are now logged in as [seba.vassou@gmail.com].
Your current project is [None].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID

In [3]:
# Faca o import das bibliotecas
import pandas as pd
import numpy as np

### 9.1 Escreva um prompt de uma função python para carregar os dados de população de 2017 e realizar as operações ilustradas na tabela a seguir. Retorne apenas os top 3 resultados ordenados pela soma.
#### **Dica:** Coluna pop2017, e ```reset_index()```

#### Entrada: ```'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/populacao/estimativa_dou_2017.xlsx'```


### Resultado esperado: um dataframe igual a esse

|    | uf   |      sum |     mean |   median |    std |
|---:|:-----|---------:|---------:|---------:|-------:|
|  0 | SP   | 45094866 |  69914.5 |    13810 | 489370 |
|  1 | MG   | 21119536 |  24759.1 |     8287 | 100604 |
|  2 | RJ   | 16718956 | 181728   |    35918 | 693337 |

In [ ]:
d9_1_1 = 'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/populacao/estimativa_dou_2017.xlsx'

In [15]:
df = pd.read_excel('https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/populacao/estimativa_dou_2017.xlsx')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uf         5570 non-null   object
 1   cod_uf     5570 non-null   int64
 2   cod_munic  5570 non-null   int64
 3   cod_ibge   5570 non-null   int64
 4   municipio  5570 non-null   object
 5   pop2017    5570 non-null   int64
dtypes: int64(4), object(2)
memory usage: 261.2+ KB

In [21]:
# Agrupando por UF e calculando as estatísticas
df_agg = df.groupby('UF').agg(total_populacao=('Populacao', 'sum'), mean=('Populacao', 'mean'), median=('Populacao', 'median'), std=('Populacao', 'std')).reset_index()

KeyError: 'UF'

In [37]:
prompt91 = """Crie uma codigo python para carregar os dados de população de 2017  e retorne um dataframe com os 3  estados com maior população, o dataframe tem  que criar ainda colunas  'mean' com a media da população , 'median' amediana da população por 'uf' e 'std' o desvio padrão por 'uf', conforme a seguinte especificação:
Carrega dados diretamente da URL fornecida usando pd.read_excel, este será o argumento da função
Agrega os valores por 'uf' usando quatro operações estatísticas:
'sum' = Soma total da população ('pop2017') por 'uf'
'mean' = Média aritmética por 'uf'
'median' = Mediana por 'uf
'std' = Desvio padrão por 'uf'
Ordena os resultados 'sum'em ordem decrescente
Mantém apenas os 3 primeiros registros
Aplica formatação numérica para:
Valores inteiros ('sum')
float64 para a 'mean', 'median' e 'std'

Retorne um dataframe com o resultado"""

In [38]:
validate(prompt91, "A9-E1")

Codigo gerado:
def process_population_data(url):
    # Carregar os dados a partir da URL
    df = pd.read_excel(url)

    # Agrupar os dados por 'uf' e calcular as estatísticas
    grouped = df.groupby('uf').agg(
        sum=('pop2017', 'sum'),
        mean=('pop2017', 'mean'),
        median=('pop2017', 'median'),
        std=('pop2017', 'std')
    ).reset_index()

    # Ordenar os resultados pela soma total da população em ordem decrescente
    sorted_df = grouped.sort_values(by='sum', ascending=False)

    # Manter apenas os 3 primeiros registros
    top_states = sorted_df.head(3)

    # Aplicar formatação numérica
    top_states['sum'] = top_states['sum'].astype(int)
    top_states['mean'] = top_states['mean'].astype(float)
    top_states['median'] = top_states['median'].astype(float)
    top_states['std'] = top_states['std'].astype(float)

    return top_states

✅ Passed the Test Case!
  Expected: {'data': {'aggregation_checks': {'sum': {'mean': 276401.4, 'median': 58015.0, 'std': 1283310.7, 'sum': 82933358.0}, 'total_rows': {'max': 3, 'min': 3}}, 'columns': ['uf', 'sum', 'mean', 'median', 'std'], 'dtypes': {'mean': 'float64', 'median': 'float64', 'std': 'float64', 'sum': 'int64', 'uf': 'object'}, 'sample_rows': [{'expected_values': {'sum': 45094866}, 'filter': {'uf': 'SP'}}, {'expected_values': {'sum': 16718956}, 'filter': {'uf': 'RJ'}}]}, 'type': 'dataframe', 'validation_rules': {'round_decimals': 1, 'row_match_threshold': 0.9, 'tolerance': 3}}
  Delivered: {'aggregation_summary': {'sums': {'mean': 276401.4, 'median': 58015.0, 'std': 1283310.7, 'sum': 82933358.0}, 'total_rows': {'max': 3, 'min': 3}}, 'column_analysis': {'expected_columns': ['uf', 'sum', 'mean', 'median', 'std'], 'missing_columns': [], 'possible_matches': {}, 'provided_columns': ['uf', 'sum', 'mean', 'median', 'std'], 'unexpected_columns': []}, 'verified_samples': [{'expected_values': {'sum': 45094866}, 'filter': {'uf': 'SP'}}, {'expected_values': {'sum': 16718956}, 'filter': {'uf': 'RJ'}}]}

### 9.2 Escreva um prompt de uma função python para carregar os dados do dataset do Titanic e realizar as operações ilustradas na tabela a seguir.
#### **Dica:** Soma e mediana, e ```reset_index()```

#### Entrada: ```'https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/titanic/titanic.xls'```


### Resultado esperado: um dataframe igual a esse


|    |   pclass | sex    |   survived |   fare |
|---:|---------:|:-------|-----------:|-------:|
|  0 |        1 | female |        139 |   80.9 |
|  1 |        1 | male   |         61 |   49.5 |
|  2 |        2 | female |         94 |   23   |
|  3 |        2 | male   |         25 |   13   |
|  4 |        3 | female |        106 |   10.5 |
|  5 |        3 | male   |         75 |    7.9 |

In [39]:
d9_2_1 = 'https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/titanic/titanic.xls'

In [41]:
##### Faça Seus testes ###
df=pd.read_excel('https://github.com/alexlopespereira/mba_enap/raw/main/data/originais/titanic/titanic.xls')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [ ]:
prompt92 = """AQUI"""

In [ ]:
validate(prompt92, "A9-E2")

### 9.3 Escreva uma função para realizar o agrupamento do dataset de mortalidade por UF, codigo ibge e nome do município aplicando a soma sobre as colunas Valor_total, Internações e Dias_permanência. Em seguida calcule, para todos os municípios nesta agregação, o custo médio diário das internações com a fórmula abaixo. Retorne um dataframe com os top 5 municipios segundo o custo médio de internação.
#### **Dica:** a uf são os 2 primeiros dígitos do codigo ibge. ```reset_index()```
#### Entrada: ```'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv'```


#### Resultado esperado: um dataframe igual a esse


|      |   uf |   cod_ibge6 | Município             |      Valor_total |   Internações |   Dias_permanência |   custo_medio_diario_intern |
|-----:|-----:|------------:|:----------------------|-----------------:|--------------:|-------------------:|----------------------------:|
| 3967 |   41 |      410400 | Campina Grande do Sul |      3.32947e+07 |          7037 |              29277 |                      1137.2 |
| 3864 |   35 |      355365 | Taquaral              | 382405           |           152 |                465 |                       822.4 |
| 3685 |   35 |      353715 | Pedrinhas Paulista    | 769964           |           188 |               1004 |                       766.9 |
| 3205 |   33 |      330205 | Italva                |      2.39501e+06 |           585 |               3160 |                       757.9 |
| 3193 |   33 |      330115 | Cardoso Moreira       |      2.80194e+06 |           740 |               3840 |                       729.7 |

In [ ]:
d9_3_1 = 'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv'

In [ ]:
##### Faça Seus testes ###

In [ ]:
prompt93 = """AQUI"""

In [ ]:
validate(prompt93, "A9-E3")

### 9.4 Crie um prompt de uma função python para retornar a soma do Valor_total dos 5 municípios (do exercício anterior) do dataset de Mortalidade (ao longo do período representado no dataset disponibilizado).

#### Entradas: ```'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv'``` e ```["410400", "330115", "330205", "353715", "355365"]```

#### Resultado esperado: um dataframe igual a esse
|    | Município             |      Valor_total |
|---:|:----------------------|-----------------:|
|  0 | Campina Grande do Sul |      33294700.7 |
|  1 | Cardoso Moreira       |      2801938.8 |
|  2 | Italva                |      2395014.9 |
|  3 | Pedrinhas Paulista    | 769964.0           |
|  4 | Taquaral              | 382405.0           |

In [ ]:
d9_4_1 = 'https://github.com/alexlopespereira/mba_enap/raw/refs/heads/main/data/originais/morbidade/consolidado/morbidade.csv'
d9_4_2 = ["410400", "330115", "330205", "353715", "355365"]

In [ ]:
##### Faça Seus testes ###

In [ ]:
prompt94 = """AQUI"""

In [ ]:
validate(prompt94, "A9-E4")

### Exercício de Reflexão (Facultativo)
#### Você aprendeu alguma coisa que pode ser reaproveitado em outros problemas?
#### Como você pode melhorar seu processo de elaboração de requisitos / prompts?
#### Você notou ambiguidade na sua especificação inicial?

In [ ]:
resposta="""AQUI"""

In [ ]:
validate(resposta, "A9-R1")